<p class="text-center text-muted footer-hadl">© Copyright 2016 The Awesome People</p>
    <!-- jQuery -->
    <script type="text/javascript" src="/bower_libs/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_libs/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/bower_libs/metisMenu/dist/metisMenu.min.js"></script>
    <script src="/js/jquery.dataTables.js"></script>
	<script src="/js/dataTables.bootstrap.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/bower_libs/raphael/raphael-min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/sb-admin-2.js"></script>
    <script>
	  $(document).ready(function() {
	    $('#dataTables-example').dataTable();
	  });
	</script>
</body>
<script src="/js/admin.js"></script>
</html>
