.footer-hadl{
    padding:20px;
}
.box-hadl{
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
#container {
  width: 840px;
  margin: 25px auto;
}

h1 {
  color: rgba(0,0,0,.7);
  font-weight: 900;
  font-size: 2.5em;
}

p {
  color: rgba(0,0,0,.6);
  font-size: 14px;
  margin: 50px 0 50px 0;
}

.hadl-span {
  font-size: .75em;
  background-color: white;
  padding: 2px 5px;
  color: rgba(0,0,0,.6);
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  margin: 5px;
}

.hadl-span:hover {
  color: #53CACE;
}
.hadl-margin-bot{
  margin-bottom: 10px;
}
