<html lang="en">
<head>
    <% include ../partials/header %>
</head>
<body>
	<h1>Table User</h1>
    <div class="container">
		<table class='table table-bordered'>
		<tr>
				<td>Username</td>
				<td>Pass</td>
			</tr>
		<% for (var i = 0; i < data.length;i++ ){%>
			<tr>
				<td><%= data[i].email %></td>
				<td><%= data[i].pass %></td>
			</tr>
			
		<% } %>
		</table>
    </div>
    <% include ../partials/footer %>
</body>
</html>