<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="bower_libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main_home.css">
	<script type="text/javascript" src="bower_libs/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_libs/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
	<div class='hadl-chat-panel'>
		<div class="panel panel-default">
	        <div class="panel-heading">
	           SET NICKNAME
	        </div>
	        <!-- /.panel-heading -->
		    <form method="POST" id="frm-chat-from" >
		        <div class="panel-body">
		            <div class="table-responsive">
		                <table class="table">
		                   	<tbody>
		                        <tr>
		                            <td>Nickname</td>
		                            <td><input class="form-control username" type="text" name="txtId" value=""></td>
		                        </tr>
		                        <tr>
		                        	<td colspan="2"><input class="btn btn-success" type="submit" value="Login"></td>
		                        </tr>
		                    </tbody>
		                </table>
		            </div>
		            <!-- /.table-responsive -->
		        </div>
		        <!-- /.panel-body -->
		    </form>
	    </div>
    </div>
<div class='col-lg-12 col-md-12 col-sm-12 main-chat'>
		<span class="col-lg-12 col-md-12 col-sm-12 hadl-input-padding"><b>HADL CHAT</b>
		<ul class='chat-room-list'>
			<li>Chat room 1</li>
			<li>Chat room 2</li>
			<li>Chat room 3</li>
			<li>Chat room 4</li>
		</ul>
		</span>
		<div class='col-lg-8 col-md-8 col-sm-6'>
			<ul id="conversation" class='hadl-input-padding scollable-class'>
			
			</ul>
			<form>
				<div class="input-group hadl-input-padding">
					  <span class="input-group-addon" id="basic-addon1">@</span>
					  <input type="text" class="form-control" id="messages" aria-describedby="basic-addon1">
				</div>
				<input type="submit" class="form-control btn-send hadl-input-padding btn-success" name="txtsubmit" value="Submit">
			</form>
		</div>
		<div class='col-lg-4 col-md-4 col-sm-6'>
			<ul id="available_id" class='hadl-input-padding scollable-class'>
			</ul>
		</div>
</div>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script type="text/javascript">
	var socket = io.connect("http://192.168.0.27:3000");
	socket.on("connect",function(){
		console.log("connected to server");
		$('#frm-chat-from').submit(function(e){
			e.preventDefault();
			var username = $('.username').val();
			socket.emit("add_user",username);
			$(".hadl-chat-panel").remove();
		});
		//var username = prompt("What is your name?");
		//send username to server
	});

	socket.on("update_message",function(data){
		$('#conversation').append("<li>"+data.sender + " : " + data.message +"</li>");
		$('#available_id').html("...updating");
		$('#available_id').html("<b>ONLINE</b>");
		for (var i = 0;i < data.username.length;i++){
			$('#available_id').append("<li>"+data.username[i]+"</li>");
		}
		$('#conversation').scrollTop($('#conversation')[0].scrollHeight);
	});

	socket.on("update_chat",function(data){
		$('#conversation').append("<li>"+data.sender + " : " + data.message +"</li>");
		$('#conversation').scrollTop($('#conversation')[0].scrollHeight);
	});
	$(".btn-send").click(function(){
		var message = $("#messages").val();
		//can than de duplicate
		$("#messages").val("");
		if(message.trim().length != 0){
			socket.emit("message_send",message);
		}

	});

	$("#messages").keypress(function(e){
		if (e.which == 13){
			$(".btn-send").trigger("click");
		}
	});

	$('form').submit(function(e){
		return false;
	});
	//room chat
	$('.chat-room-list>li').click(function(){

		var chatroom = $(this).html();

		socket.emit('join', chatroom);
		//socket.emit("private_message",username,"1");

		socket.on("join",function(data){
			//console.log(data);
			$('#conversation').append("<li><b style='color:green'>"+data.sender + "</b> : " + data.message +"</li>");
			$('#conversation').scrollTop($('#conversation')[0].scrollHeight);
		});
		socket.on('room_user',function(users){

			$('#available_id').html("...updating");

			$('#available_id').html("<b>" + chatroom + "</b>");

			for (var i = 0;i < users.length;i++){

				$('#available_id').append("<li>"+users[i]+"</li>");

			}
			$('#conversation').scrollTop($('#conversation')[0].scrollHeight);
		});
	});

	$("#available_id").delegate("li","click",function(){
		var username = $(this).html();
		//$(this).css({"color":"red"});
		$("#basic-addon1").html('Chat to @ '+username+' :');
		//emit username to server
		socket.emit("choose_user",username);
	});
</script>
</body>
</html>