<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="bower_libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/hadl.css">
		<script type="text/javascript" src="bower_libs/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="bower_libs/bootstrap/dist/js/bootstrap.min.js"></script>
	</head>
	<body>
	<div id='container'>
        <div class='signup'>
            <form method="POST">
               <input type='text'  name="firstname" placeholder='First:'  />
               <input type='text' name="lastname" placeholder='Last:'  />
               <input type='text' name="email" placeholder='Email:'  />
               <input type='text' name="password" placeholder='Password:'  />
               <input type='text' name="repassword" placeholder='Password:'  />
               <input type='submit' placeholder='SUBMIT' />
             </form>
          </div>
          <div class='whysign'>
            <h1>Register</h1>
            <p>Welcome to my blog. My name is XXX XXXX. Very nice to meet you. I hope you will found something that useful for u in my blog</p>
            <p>Cheer: 
              <span>HTML</span>
              <span>CSS</span>
              <span>JavaScript</span>
            </p>
          </div>
        </div>

    <script type="text/javascript" src="/js/admin.js"></script>
	</body>
</html>